/* Gradiente e cards do site */
        .hero-gradient {
            background: linear-gradient(135deg, #1a156e 0%, #171619 50%, #000000 100%);
        }

        .feature-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
                0 10px 10px -5px rgba(0, 0, 0, 0.04);
        }

        .hidden {
            display: none !important;
        }

        [vw] {
            z-index: 9999;
        }

        ::selection {
            background-color: yellow;
            color: black;
        }